services:
  mariadb:
    image: mariadb:11
    container_name: mariadb_local
    restart: unless-stopped

    ports:
      - "${MYSQL_PORT}:3306"

    environment:
      MARIADB_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MARIADB_DATABASE: ${MYSQL_DATABASE}
      MARIADB_USER: ${MYSQL_USER}
      MARIADB_PASSWORD: ${MYSQL_PASSWORD}

    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data: